/* General Styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    background-color: #7ca9ee;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
}

/* Navbar Styling */
.navbar {
    background-color: #6e66ca6b !important;;
}

.navbar-brand {
    font-size: 1.8rem;
    color: #0d6efd;
}

.nav-link {
    font-size: 1rem;
    color: #333;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0d6efd;
}

/* Zoom effect for hover */
.zoom-effect:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* Home Section */
#home {
    background-color: #f0f8ff;
}

#home h1 {
    font-size: 4rem;
    color: #0d6efd;
}

#home p {
    font-size: 1.2rem;
    color: #333;
}

#home button {
    font-size: 1.2rem;
    border-radius: 30px;
}

/* About Section */
#about {
    background-color: #fff;
    color: #333;
}

#about h2 {
    font-size: 3rem;
    color: #333;
}

#about p {
    font-size: 1.2rem;
    max-width: 800px;
}

/* Contact Section */
#contact {
    background-color: #f0f8ff;
    color: #0d6efd;
}

#contact h2 {
    font-size: 3rem;
}

#contact p {
    font-size: 1.2rem;
    max-width: 800px;
    color: #333;
}

form {
    width: 100%;
    max-width: 600px;
}

.form-control {
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
}

form button {
    width: 100%;
    border-radius: 30px;
    font-size: 1.2rem;
    padding: 10px;
}

/* Footer */
footer {
    background-color: #498ed4;
    color: #313539;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }

    #home h1 {
        font-size: 3rem;
    }

    #about h2, #contact h2 {
        font-size: 2.5rem;
    }

    #home button, form button {
        font-size: 1rem;
    }
}
/* a {
    margin: 10px;
     font-size: 24px;
   color: #333;
    text-decoration: none;
   
  }
  
  a:hover {
    color: #007bff;
    
  }
   */
